---
import { cn } from "@lib/utils";

const { base, currentPage, totalPages } = Astro.props;
const prevUrl =
  currentPage > 2
    ? `${base}/${currentPage - 1}`
    : currentPage == 2
      ? base
      : "#";
const nextUrl = currentPage < totalPages ? `${base}/${currentPage + 1}` : "#";
---

<nav class="mt-10 flex justify-center items-center gap-2">
  <a
    class={cn(
      "px-2 py-1 rounded-md",
      currentPage == 1 ? "text-muted" : "hover:bg-muted"
    )}
    href={prevUrl}>{"< previous"}</a
  >
  <span>|</span>
  <a
    class={cn(
      "px-2 py-1 rounded-md",
      currentPage == totalPages ? "text-muted" : "hover:bg-muted "
    )}
    href={nextUrl}>{"next >"}</a
  >
</nav>
